<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ name }}</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10">
                <header>
                    <h1 id="userTitle"><a href="/">{{ name }}</a></h1>
                    <p>this is your personalized shmood page</p>
                </header>
            </div>
            <div class="col-1">

            </div>
        </div>

        <!-- Image display columns -->
        <div class="row justify-content-center">
            <div class="col-10" id="grid">
                <div class="row">
                    <div class="col">
                        {{#if imgs}}
                        {{#each imgs}}
                        <img src={{this}} class="img-fluid mb-4">
                        {{/each}}
                        {{else}}
                        <h2 id="noImg">this column is empty</h2>
                        {{/if}}
                    </div>
                    <div class="col">
                        {{#if imgs2}}
                        {{#each imgs2}}
                        <img src={{this}} class="img-fluid mb-4">
                        {{/each}}
                        {{else}}
                        <h2 id="noImg">this column is empty</h2>
                        {{/if}}
                    </div>
                    <div class="col">
                        {{#if imgs3}}
                        {{#each imgs3}}
                        <img src={{this}} class="img-fluid mb-4">
                        {{/each}}
                        {{else}}
                        <h2 id="noImg">this column is empty</h2>
                        {{/if}}
                    </div>
                </div>
            </div>

            <!-- Sidebar, always the same due to requiring login for the page -->
            <div class="col-1" id="sidebar">
                <div class="position-fixed btn-group-vertical">
                    <button><a href="/userPage">{{ name }}</a></button>
                    <button data-toggle="modal" data-target="#imgUpload">upload</button>
                    <button data-toggle="modal" data-target="#changePassword">change password</button>
                    <button><a href="/logout">logout</a></button>
                </div>

                <!--Image Upload Modal-->
                <div class="modal fade" id="imgUpload" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imgUploadTitle">Image Upload</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="imgUploadForm" name="imgUploadForm" action="/uploadImg" method="POST"
                                    class="imgUploadForm" encType="multipart/form-data">

                                    <div class="fields">
                                        <input type="file" id="userImg" name="img" accept="image/*">
                                    </div>

                                    <div class="alert alert-danger error" role="alert">
                                        Passwords don't match
                                    </div>

                                    <div class="modal-footer">
                                        <input id="imgCsrf" type="hidden" name="_csrf" value={{csrfToken}} />
                                        <button class="btn btn-secondary rounded-pill" id="cancelButton"
                                            data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-secondary rounded-pill" id="uploadButton"
                                            type="submit">Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Password Change Modal-->
                <div class="modal fade" id="changePassword" tabindex="-1" role="dialog"
                    aria-labelledby="changePasswordTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="changePasswordTitle">Change Password</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="changePasswordForm" name="changePasswordForm" action="/changePassword"
                                    method="POST" class="changePasswordForm">
                                    <div class="fields">
                                        <div class="form-group col-xs-4">
                                            <input class="field" id="currentPass" type="text" name="currentPass"
                                                placeholder="Current password" />
                                        </div>
                                        <div class="form-group col-xs-4">
                                            <input class="field" id="newPass" type="password" name="newPass"
                                                placeholder="New password" />
                                        </div>
                                        <div class="form-group col-xs-4">
                                            <input class="field" id="pass2" type="password" name="pass2"
                                                placeholder="Retype password" />
                                        </div>
                                    </div>

                                    <div class="alert alert-danger error" role="alert">
                                        Passwords do not match
                                    </div>

                                    <div class="modal-footer">
                                        <input id="signupCsrf" type="hidden" name="_csrf" value={{csrfToken}} />
                                        <button class="btn btn-secondary rounded-pill" id="cancelButton"
                                            data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-secondary rounded-pill" id="changePasswordButton"
                                            type="submit">Change Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/assets/bundle.js"></script>
</body>

</html>